.container {
  background-color: #100562;
  border-radius: 10px;
  margin: 140px auto;
  max-width: 650px;
  padding: 40px 50px;
}

.hidden {
  display: none;
}

.poem {
  background-color: #c1d591;
  border-radius: 10px;
  margin-top: 15px;
  padding: 20px;
}

.subject-input {
  border: 1px solid #b6ce7d;
  border-radius: 5px;
  font-size: 16px;
  line-height: 20px;
  padding: 5px;
  width: 80%;
}

.submit-button {
  background-color: #b6ce7d;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  margin-left: 9px;
  padding: 9px 24px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 121, 255);
  text-decoration: underline;
}

form {
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 2px;
  padding: 10px 6px;
}

footer {
  color: #b6ce7d;
  font-size: 14px;
  text-align: center;
  margin-top: 30px;
}

h1 {
  color: #c6d999;
  text-align: center;
}

small {
  color: #c6d999;
  margin-left: 13px;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
}
